<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="asWebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="asWebServices.Properties.Settings.flow" connectionString="Data Source=jb-ming\SQL2008;Initial Catalog=ezFlow_WAFER;Persist Security Info=True;User ID=sa;Password=JB8421"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <asWebServices.Properties.Settings>
            <setting name="asWebServices_AbsWS_AbsWS" serializeAs="String">
                <value>http://localhost/ezFlow_WAFER/Forms/FlowForms/ws/AbsWS.asmx</value>
            </setting>
            <setting name="asWebServices_AbscWS_AbscWS" serializeAs="String">
                <value>http://localhost/ezFlow_WAFER/Forms/FlowForms/ws/AbscWS.asmx</value>
            </setting>
            <setting name="asWebServices_CardWS_CardWS" serializeAs="String">
                <value>http://localhost/ezFlow_WAFER/Forms/FlowForms/ws/CardWS.asmx</value>
            </setting>
            <setting name="asWebServices_OtWS_OtWS" serializeAs="String">
                <value>http://localhost/ezFlow_WAFER/Forms/FlowForms/ws/OtWS.asmx</value>
            </setting>
            <setting name="asWebServices_RepairWS_RepairWS" serializeAs="String">
                <value>http://localhost/ezFlow_WAFER/Forms/FlowForms/ws/RepairWS.asmx</value>
            </setting>
            <setting name="asWebServices_DynamicSrv_Service" serializeAs="String">
                <value>http://localhost/ezFlow_WAFER/ezEngine/DynamicSrv/Service.asmx</value>
            </setting>
        </asWebServices.Properties.Settings>
    </applicationSettings>
</configuration>