<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ezFlowManage.Properties.Settings.Flow" connectionString="Data Source=joumingt\sql2005;Initial Catalog=ezFlow_WAFER;Persist Security Info=True;User ID=sa;pwd=jb8421;" providerName="System.Data.SqlClient" />
        <add name="ezFlowManage.Properties.Settings.Hr" connectionString="Data Source=joumingt\sql2005;Initial Catalog=WAFERHR;Persist Security Info=True;User ID=sa;pwd=jb8421;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>