<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
  <appSettings>
    <add key="JBModule.Data.HrDBConnectionString" value="JBHR.Properties.Settings.JBHRConnectionString" />
    <add key="JBHR.DLL.ConnectionString" value="JBHR.Properties.Settings.JBHRConnectionString" />
    <add key="DynamicSrv.Service" value="http://localhost/ezFlow_HIYES/Forms/FlowForm/ws/Service.asmx" />
    <!--計薪年月所需之每月日期-->
    <add key="iSalaryDay" value="21" />
    <add key="webservicex.CurrencyConvertor" value="http://www.webservicex.net/CurrencyConvertor.asmx" />
    <add key="WebServiceAbs.WebService" value="http://localhost/ezFlow_HIYES/Forms/FlowForm/ws/WebService.asmx" />
    <add key="localhost" value="http://hr.jbjob.com.tw/iodata/ez-Portal/login.aspx" />
    <add key="localhostDefault" value="http://hr.jbjob.com.tw/iodata/ez-Portal/login.aspx" />
    <add key="localhost.Service" value="http://localhost/ezFlow_HIYES/ezEngine/Service.asmx" />
    <add key="Conn" value="Data Source=211.78.84.45;Initial Catalog=ezFlow_iodata_T;User ID=jb;Password=JB8421" />
    <add key="FlowWebServicesOld.Service" value="http://localhost/ezFlow_HIYES/WebServices/Service.svc" />
    <add key="EzpmsServices.WebService" value="http://192.168.1.24/EZPMS_HIYES/WebService.asmx" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="Flow" connectionString="Data Source=192.168.1.24;Initial Catalog=ezFlow_wafer;User ID=jb;Password=JB8421;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="HR" connectionString="Data Source=192.168.1.24;Initial Catalog=waferhr;User ID=jb;Password=JB8421" providerName="System.Data.SqlClient" />
    <add name="JBHR.Properties.Settings.JBHRConnectionString" connectionString="Data Source=192.168.1.24;Initial Catalog=waferhr;Persist Security Info=True;User ID=jb;Password=JB8421;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="JBHR.Dll.Properties.Settings.JBHRConnectionString" connectionString="Data Source=192.168.1.24;Initial Catalog=waferhr;Persist Security Info=True;User ID=jb;PWD=JB8421;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="edmFlow" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.24;Initial Catalog=ezFlow_wafer;Persist Security Info=True;User ID=jb;Password=JB8421;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="B606833F8AC0C76E8DB98441DD91C59FBB3F3FE1EA70C62DD38246AEBC55B59AAF494C1D9460AF6291AC25F2164A00BE01E2F12E07BD6962A15A0122A4051EF1" decryptionKey="157B52641D84D8E78960A5E88399F7B148A5CBBC2E75AA83A3D9656845F5F4A3" validation="SHA1" decryption="AES" />
    <!--
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
    <authentication mode="Windows" />
    <!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁，
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules />
  </system.web>
  <!-- 
        需要 system.webServer 區段才能在 Internet Information Services 7.0 下
        執行 ASP.NET AJAX。舊版的 IIS 則不需要。
-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJbhrService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://61.222.40.10/ezPortal/Service/JbhrService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJbhrService" contract="JbhrService.IJbhrService" name="BasicHttpBinding_IJbhrService" />
      <endpoint address="http://localhost/ezFlow_HIYES/WebServices/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="FlowWebServices.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>