<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="keywords" content="關鍵字1,關鍵字2,關鍵字3,關鍵字4,關鍵字5,關鍵字6" />
<meta name="description" content="內容敘述" />
<meta name="author" content="KentonLiao" />
<meta name="robots" content="all" />
<title>Untitled 1</title>
<link href="KD100.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="scalePage">
<div id="mainPage">
<div id="titlePage">
<div id="topPage">
<ul id="top">
<li><a href="qq">連結的啦11</a></li>
<li><a href="qq">連結的啦12</a></li>
<li><a href="qq">連結的啦13</a></li>
<li><a href="qq">連結的啦14</a></li>
<li><a href="qq">連結的啦15</a></li>
<li class="end"><a href="qq">連結的啦16</a></li>
</ul>
</div>
</div>
<div id="naviPage">
<ul id="navi">
<li><a href="qq">連結的啦21</a></li>
<li><a href="qq">連結的啦22</a></li>
<li><a href="qq">連結的啦23</a></li>
<li><a href="qq">連結的啦24</a></li>
<li><a href="qq">連結的啦25</a></li>
<li><a href="qq">連結的啦26</a></li>
<li class="end"><a href="qq">連結的啦27</a></li>
</ul>
</div>
<div id="menuPage">
<ul id="menu">
<li><a href="qq">連結的啦31</a></li>
<li><a href="qq">連結的啦32</a></li>
<li><a href="qq">連結的啦33</a></li>
<li><a href="qq">連結的啦34</a></li>
<li><a href="qq">連結的啦35</a></li>
<li><a href="qq">連結的啦36</a></li>
<li><a href="qq">連結的啦37</a></li>
<li><a href="qq">連結的啦38</a></li>
<li class="end"><a href="qq">連結的啦39</a></li>
</ul>
</div>
<div id="detailPage">
<h1>Detail</h1>
今年耶誕節，成千上萬的美國人想買亞馬遜的Kindle電子書閱讀器，卻發現要排隊等到明年才能拿到。Kindle意外爆紅令人不禁想問，電子書產業是否終於要開始起飛？<br />
售價359美元的Kindle具無線上網功能，可連上亞馬遜網站直接購買下載電子書。美國名嘴歐普拉10月稱讚說，這個平裝書大小的閱讀器是她最愛的電子產品，Kindle瞬間賣到斷貨，現在訂購要到2月以後才能供貨。<br />
亞馬遜的進貨管理失策，讓Sony乘機在耶誕購物季大打廣告促銷Sony的Reader閱讀器。Sony數位閱讀部門總裁哈伯說：「電子書的概念已經流傳十年之久，毫無成果。但是現在，電子書真的開始起飛了。」<br />
Sony最新款的Reader 700閱讀器售價400美元，有觸控螢幕以及閱讀背光。哈伯表示，Reader今年耶誕購物季的銷售量是去年的三倍，這是拜Sony擴大通路，開始在Target、博德斯書店與Sam's Club銷售Reader所賜。自第一代Reader在2006年上市以來，Sony已賣出30萬台Reader電子書閱讀器。<br />
儘管銷售空前熱烈，亞馬遜沒有公開Kindle的銷售數字，Codex 集團總裁海迪史密斯估計，Kindle自10月以來賣出26 萬台，有些分析師甚至估到上百萬台。<br />
海迪史密斯還指出，Kindle真正跨出了一般電子流行產品的市場，在55歲到64歲的銀髮族中最受歡迎，而且男女都一樣喜歡。<br />
在軟體方面，HarperCollins、藍燈書屋等主要出版商表示，儘管電子書目前占書籍總銷售額不到1%，但銷售量過去一年來已增加200%到300%。以歐普拉推薦的暢銷書《蕭泰爾的故事》為例，Kindle電子書版本現在占亞馬遜該書總銷量的20%。<br />
Kindle下載的電子書每本售價9.99美元，Sony的電子書則賣11.99美元。<br />
亞馬遜與Sony都將在明年推出新一代的閱讀器，也有許多採用相同電子墨技術的閱讀器將會開賣。但蘋果的iPhone也意外成為主流的電子書載體。Fictionwise與LexCycle 兩家公司出的iPhone電子書軟體都被下載逾60 萬次。iPhone電子書的銷售量現在已能與Sony的版本相當，但還不及Kindle。<br />
更新的閱讀器也正研發中。獲得逾2億美元創投資金的Plastic Logic公司，研發的是可彎曲的彈性閱讀器，目前測試的版本長寬各為11吋和8.5吋，預計在2010年推出。
</div>
<div id="sidePage">
This is SideBar.
</div>
<div id="footerPage">
文字
</div>
</div>
</div>

</body>

</html>
