html{
	margin:0;
	padding:0;
}
body{
	padding:0;
	margin:0;
	background:#EEEEEE;
}
div{/*整體字型設定*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#666666;
	letter-spacing:1px;
}
#scalePage{/*全頁*/
	width:100%;
	background:#666666;
}
#mainPage{/*主頁容器置中*/
	width:100%;/*網頁寬度百分比，設像素須注意topPage的位置，不建議*/
	margin:0 auto;
	background:#EEEEEE;
	background-image:url('images/main_title_bg.gif');
	background-position:0 0;
	background-repeat:repeat-x;
}
#titlePage{/*標題容器*/
	height:100px;
	/*background:#ED3467;*/
	background-image:url('images/main_title.gif');
	background-position:left;
	background-repeat:no-repeat;
	color:#FFFFFF;
}
#topPage{/*頁首容器*/
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	right:0;
}
#top{/*頁首*/
	margin:0 auto;
	display:table;
	padding:0;
}
#top li{/*頁首元素*/
	list-style-type:none;
	color:#FFFFFF;
	text-align:center;
	border-right:1px solid #666666;
	float:left;
	width:80px;
	padding:0;
	margin:0;
}
#top li.end{/*頁首最末元素*/
	border-right:none;
}
#top li a{/*頁首連結樣式*/
	display:block;
	color:#666666;
	text-decoration:none;
	padding:4px 0 0 0;
}
#top li a:hover{/*頁首連結效果*/
	background:#666666;
	color:#FFFFFF;
}
#naviPage{/*導覽列容器*/
	margin:0;
	padding:0;
	width:100%;
	background:#333333;
	text-align:center;
	border-bottom:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
}
#navi{/*導覽列*/
	margin:0 auto;
	width:568px;/* n x li width + n x 線段 */
	display:table;
	padding:0;
}
#navi li{/*導覽列元素*/
	list-style-type:none;
	color:#FFFFFF;
	text-align:center;
	float:left;
	border-left:1px solid #FFFFFF;
	width:80px;
	padding:0;
	margin:0;
}
#navi li.end{/*導覽列最末元素*/
	border-right:1px solid #FFFFFF;
}
#navi li a{/*導覽列連結樣式*/
	display:block;
	background:#333333;
	color:#FFFFFF;
	text-decoration:none;
	padding:4px 0 2px 0;
}
#navi li a:hover{/*導覽列連結效果*/
	background:#FFFFFF;
	color:#000000;
}
#menuPage{/*選單容器*/
	width:15%;
	background:#666666;
	float:left;
	display:block;
	margin:0 0 0 0;
	border:3px solid #CCCCCC;
}
#menu{/*選單*/
	padding:0;
	margin:0;
	width:100%;
	display:inline-block;
}
#menu li{/*選單元素*/
	list-style-type:none;
	color:#FFFFFF;
	text-align:center;
	border-bottom:1px dotted #FFFFFF;
}
#menu li.end{/*選單最末元素*/
	border-bottom:none;
}
#menu li a{/*選單連結樣式*/
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	padding:3px 0 2px 0;
}
#menu li a:hover{/*選單連結效果*/
	color:#FFFFFF;
	background:#333333;
}
#detailPage{/*主要內容容器*/
	display:block;
	float:left;
	width:65%;
	padding:1%;
	background:#FFFFFF;
}
#sidePage{/*邊欄容器*/
	display:block;
	float:right;
	width:15%;
	margin:0 0 0 0;
	padding:1%;
}
#footerPage{/*頁尾容器*/
	background:#CCCCCC;
	text-align:center;
	clear:both;
	margin:0 0 0 0;
	padding:3px 20px 3px 20px;
}
h1{
	padding:0;
	margin:0;
}