<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrgImport.Properties.Settings.HRConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=WAFERHR;Persist Security Info=True;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
        <add name="OrgImport.Properties.Settings.FlowConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=ezFlow_WAFER;Persist Security Info=True;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>