<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoExportOrg.Properties.Settings.Hr" connectionString="Data Source=JOUMINGT\SQL2008;Initial Catalog=WAFERHR;User ID=jb;Password=jb8421"
            providerName="System.Data.SqlClient" />
        <add name="AutoExportOrg.Properties.Settings.Flow" connectionString="Data Source=JOUMINGT\SQL2008;Initial Catalog=ezFlow_WAFER;Persist Security Info=True;User ID=jb;Password=jb8421"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>