<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<add key="syanghr" value="workstation id=JOUMINGT;packet size=4096;user id=jb;pwd=JB8421;data source=jb-tony\sql2005;persist security info=False;initial catalog=WAFERHR_ezpms"/>
	</appSettings>
	<connectionStrings>
  <add name="syanghrConnectionString" connectionString="Data Source=jb-tony\sql2005;Initial Catalog=WAFERHR_ezpms;Persist Security Info=True;Password=JB8421;User ID=jb"
   providerName="System.Data.SqlClient" />
  <add name="TMTHRConnectionString" connectionString="Data Source=jb-tony\sql2005;Initial Catalog=WAFERHR_ezpms;Persist Security Info=True;User ID=jb;Password=JB8421"
   providerName="System.Data.SqlClient" />
  <add name="ezFlowConnectionString" connectionString="Data Source=jb-tony\sql2005;Initial Catalog=ezFlow_jb;Persist Security Info=True;User ID=jb;Password=JB8421"
   providerName="System.Data.SqlClient" />
  <add name="WAFERHR_EZPMSConnectionString1" connectionString="Data Source=jb-tony\sql2005;Initial Catalog=WAFERHR_ezpms;Integrated Security=True;MultipleActiveResultSets=False;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
		<authentication mode="Windows"/>
		<!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁， 
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
		<customErrors mode="Off"/>
        -->
		<customErrors defaultRedirect="ErrorPage.aspx"  mode="RemoteOnly" />
		<sessionState timeout="40"></sessionState>
		<pages styleSheetTheme="JBR_theme">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
	</system.web>
	<log4net>
		<!--
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\\Log4Net.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <logger name="File">
      <level value="Debug" />
      <appender-ref ref="LogFileAppender" />
    </logger>
  -->
		<!--CREATE TABLE [dbo].[Log] ( [Id] [int] IDENTITY (1, 1) NOT NULL, [Date] [datetime] NOT NULL, [Thread] [varchar] (255) NOT NULL, [Level] [varchar] (50) NOT NULL, [Logger] [varchar] (255) NOT NULL, [User] [varchar] (50) NULL, [Message] [varchar] (4000) NOT NULL, [Exception] [varchar] (2000) NULL, [Program] [varchar] (200) NULL)-->
		<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
			<bufferSize value="1"/>
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<connectionString value="[we will set this automatically at runtime]"/>
			<commandText value="INSERT INTO Log ([Date],[Level],[Logger],[User],[Message],[Exception],[Program]) VALUES (@log_date, @log_level, @logger, @user, @message, @exception,@Program)"/>
			<parameter>
				<parameterName value="@log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%p"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%c"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@user"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%X{user}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%m"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.ExceptionLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@Program"/>
				<dbType value="String"/>
				<size value="200"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%X{Program}"/>
				</layout>
			</parameter>
		</appender>
		<logger name="MyProject">
			<appender-ref ref="ADONetAppender"/>
		</logger>
	</log4net>
 <system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
