<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="JBHR.DLL.ConnectionString" value="FlowAutoSave.Properties.Settings.JBHRConnectionString" />
  </appSettings>
    <connectionStrings>
        <add name="FlowAutoSave.Properties.Settings.ezFlowConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=ezFlow_WAFER;Persist Security Info=True;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
        <add name="FlowAutoSave.Properties.Settings.JBHRConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=waferhr;Persist Security Info=True;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
        <add name="FlowAutoSave.Properties.Settings.waferhrConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=waferhr;Persist Security Info=True;User ID=jb;Password=JB8421"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
