/*控制表格*/
.TableFullBorder
{
	width: 100%;
}
.TableFullBorder
{
	border: 1px #CCCCCC solid;
	border-collapse: collapse;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
}
.TableFullBorder td
{	border: 1px #CCCCCC solid;
	border-collapse: collapse;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
.TableFullBorder th
{
	border: 1px #CCCCCC solid;
	border-collapse: collapse;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: normal;
	background-color: #666666;
}
.TableFullBorder th a
{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: normal;
	background-color: #666666;
}
.TableFullBorder .MyCalendar td
{
	padding: 0;
}
/*控制Button*/
.ButtonExit
{
	font-size: 10pt;
	background-color: #EEEEEE;
	border: solid 1px #CCCCCC;
	color: #333333;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

/*控制TextBox*/
.txtBoxLine
{
	border-top-style: none;
	border-bottom: 1px solid;
	border-right-style: none;
	border-left-style: none;
}
.txtCode
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 80px;
}
.txtName
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 160px;
}
.txtPath
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 95%;
}
.txtOrder
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 30px;
}
.txtDescription
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 95%;
}
.txtDateTime
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 160px;
}
.txtDate
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 70px;
}
.txtTime
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 30px;
}
.txtNumber
{
	border-top-style: none;
	border-bottom: 2px solid;
	border-right-style: none;
	border-left-style: none;
	width: 50px;
}
