.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.50;
}

.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 250px;
}

/* --- loader ---*/

#loader
{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
}

#loader td
{
	padding: 3px;
	background: #ffffff;
}

#loader p
{
	border: 3px solid #6E89DD;
	padding: 10px;
	margin: 0;
	background: #EEF0FC;
}

#loader img
{
	/*float: left;*/
	margin-right: 12px;
}

#loader strong
{
	display: block;
	margin-bottom: 3px;
}

#loaderContainer
{
	top: 0;
	left: 0;
	z-index: 1000;
	height: expression(document.documentElement.scrollHeight+'px');
}

#loaderContainer td
{
	padding-top: 150px;
	vertical-align: top;
	text-align: center;
	background-image: url(../images/semi-transparent.gif);
}

#loaderContainer td td
{
	padding-top: 3px;
	text-align: left;
}
