vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.actproj.asm.c.cc.cod.cpp.cs.cxx.dbs.def.dsp.dsw.etp.ext.fky.h.hpp.hxx.i.idl.inc.inl.jsl.kci.lgn.lst.mak.map.mk.odh.odl.prc.rc.rc2.rct.rgs.rul.s.sol.sor.sql.srf.tab.tlh.tli.trg.txt.udf.udt.user.usr.vap.vb.vcproj.viw.vspscc.vsscc.vssscc.
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport
vti_webservertype:SR|msiis
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_categories:VR|旅行 費用報告 商務 競爭 目標/目的 主意 雜項 等待中 VIP 處理中 計劃 排程
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|內容檢閱 法務檢閱 程式碼檢閱 管理員檢閱
vti_timecreated:TR|09 Jun 2005 09:40:27 -0000
vti_extenderversion:SR|4.0.2.7802
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp iisstart.asp Default.aspx
vti_insecureserverurl:SR|http://yoyo-notebook
vti_secureserverurl:SR|https://yoyo-notebook
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_title:SW|JBHRWEB
