<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ezFlowServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Test" value="0"/>
    <!--0=正式,1=測試-->
    <add key="MailHeader" value=""/>
    <add key="MailFooter" value="Taiwan HR System"/>
    <add key="HRConnectionString" value="Data Source=192.168.1.12;Initial Catalog=AZOTEKHR;Persist Security Info=True;User ID=jb;Password=JB8421"/>
    <add key="JBModule.Data.HrDBConnectionString" value="Dal.Properties.Settings.ConnectionString" />
    <add key="AbsFlowNode_id" value="428" />
    <add key="Abs1FlowNode_id" value="434" />
    <add key="AbscFlowNode_id" value="396" />
    <add key="CardFlowNode_id" value="397" />
    <add key="OtFlowNode_id" value="391" />
    <add key="ShiftShortFlowNode_id" value="399" />
    <add key="ShiftDayFlowNode_id" value="492" />
  </appSettings>
  <connectionStrings>
    <add name="ezFlowFormAutoStart.Properties.Settings.ezFlowConnectionString"
      connectionString="Data Source=192.168.1.12;Initial Catalog=ezFlow_AZOTEK;Persist Security Info=True;User ID=jb;Password=JB8421"
      providerName="System.Data.SqlClient" />
    <add name="Dal.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.1.12;Initial Catalog=AZOTEKHR;Persist Security Info=True;User ID=jb;Password=JB8421"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
